name: Proxy Auto Update

on:
  schedule:
    - cron: '*/15 * * * *' # هر ۱۵ دقیقه یکبار اجرا می‌شود
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          
      - name: Install Dependencies
        run: pip install requests
        
      - name: Run Scraper
        run: python scraper.py
        
      - name: Commit and Push
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add proxies.json
          git commit -m "Auto-update proxies" || exit 0
          git pull --rebase origin main
          git push origin main
