name: Proxy Auto Update

on:
  # ۱. اجرای خودکار توسط خود گیت‌هاب (هر ۱۰ دقیقه)
  schedule:
    - cron: '*/10 * * * *'
  
  # ۲. اجرای توسط فراخوان خارجی مثل cron-job.com (به عنوان زاپاس)
  repository_dispatch:
    types: [trigger_update]
  
  # ۳. قابلیت اجرای دستی توسط خودت
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          
      - name: Install Dependencies
        run: |
          pip install requests jdatetime
          
      - name: Run Scraper
        run: python scraper.py
        
      - name: Commit and Push
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add proxies.json
          # اگر تغییری نبود متوقف بشه و ارور نده
          git commit -m "Auto-update proxies" || exit 0
          git push
